<div class="admin-home-container">

    <h1 class="admin-title">Админ Панел</h1>

    <div class="admin-buttons">
        <a href="/Admin/UserManagement/Index" class="admin-card">
            <h2>Потребители</h2>
            <p>Управлявай всички потребители</p>
        </a>

        <a href="/Admin/AdminDoor/Index" class="admin-card">
            <h2>Врати</h2>
            <p>Прегледай всички врати в системата</p>
        </a>
    </div>

</div>
            

        
