<head>
    <meta charset="utf-8" />
    <title>Грешка 500</title>
    <link rel="stylesheet" href="~/css/badRequest.css" />
</head>
<body>
    <div class="error-container">
        <div class="error-box">
            <h1>500</h1>
            <h2>Вътрешна сървърна грешка</h2>
            <p>Нещо се обърка от наша страна.<br>Моля, опитайте отново по-късно.</p>

            <a class="home-btn" href="/">Обратно към началната страница</a>
        </div>
    </div>
</body>
