@using DoorsWebProject.Web.ViewModels.Door;
@model DoorDetailsViewModel
<partial name="CommonDoorDetails" model="Model" />

@foreach(var color in Model.DoorColors)
{
    <div class="color"
         style="background:@color.HexCode">
    </div>
}
