.quantity-container {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 10px;
}

.quantity-btn {
	width: 32px;
	height: 32px;
	font-size: 20px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	cursor: pointer;
	border-radius: 8px;
}

.quantity-input {
	width: 50px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	height: 32px;
}

.d-flex {
	display : block !important
}
