.door-container {
    display: block;
}

.door-card{
    padding : 10px;
    margin : 10px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px; /* ширина на филтъра */
    background: #f7f7f7;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.content {
    flex: 1; /* взима цялото останало място */
    padding: 20px;
    background: #fff;
}


