body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.home-header {
    background: url('https://plus.unsplash.com/premium_photo-1676321046448-e491b205c21c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

    .home-header h1 {
        font-size: 48px;
        margin: 0;
    }

    .home-header p {
        font-size: 20px;
        margin-top: 10px;
    }

nav {
    background-color: #444;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
}

    nav a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

        nav a:hover {
            color: #ffcc00;
        }

.hero {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
}

    .hero h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #333;
    }

    .hero p {
        font-size: 18px;
        color: #666;
    }

footer {
    background-color: #222;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.top-products {
    padding: 50px 20px;
    text-align: center;
    background-color: #fff;
}

    .top-products h2 {
        font-size: 32px;
        margin-bottom: 40px;
        color: #222;
    }

.product-grid {
    display: flex;
    flex-wrap: wrap; /* Позволява пренасяне на нов ред при нужда */
    justify-content: center;
    gap: 30px;
}

.product-card {
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

    .product-card:hover {
        transform: translateY(-5px);
    }

    .product-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .product-card h3 {
        margin-top: 15px;
        font-size: 20px;
        color: #333;
    }

.price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #e67e22;
    font-size: 18px;
}
